body {
  text-align: center;
  font-family: "Courier", "Roboto Slab", serif;
  color: white;
  background: url("./background.gif");
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}

.introduction h1 {
  font-size: 90px;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.introduction p {
  position: relative;
  font-weight: 1000;
  font-size: 30px;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.introduction #para {
  position: relative;
  margin: -1.5rem;
}

.main-content #button {
  border-radius: 50px;
  color: white;
  font-size: 16px;
  font-family: "Roboto Slab";
  font-weight: 900;
  font-style: bold;

  background: linear-gradient(270deg, #f79ad4, #f0bfe1);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*Animation maker for button hover */
@keyframes buttonScaler {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

@media screen and (max-width: 768px) {
  @keyframes buttonScaler {
    0% {
      transform: scale(1, 1);
    }

    100% {
      transform: scale(1, 1);
    }
  }
}

.main-content {
  position: relative;
  margin-top: 5rem;
}

.introduction #Date {
  text-decoration: underline;
  font-style: italic;
  color: rgb(128, 218, 235);
}

.introduction #time {
  animation: timeChange 4s linear forwards;
  color: rgb(255, 192, 203);
}

@keyframes timeChange {
  0%,
  100% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.3, 1.15);
  }
}

.main-content #quote {
  animation: fadeInfadeOut 8s linear infinite;
}

.main-content #button2 #anchorTags {
  text-decoration: none;
  color: white;
}

.main-content #button2 #anchorTags:visited {
  color: white;
  text-decoration: none;
}
.main-content #button2 #anchorTags:active {
  text-decoration: none;
  color: white;
}

.main-content #author {
  animation: fadeAuthor 4s linear infinite;
}

@keyframes fadeAuthor {
  0%,
  100% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes fadeInfadeOut {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
  }
}

.main-content #button {
  transform: scale(1.1);
  animation: buttonScaler 4s infinite;
  transition: opacity 0.25s ease-in-out;
}

.main-content #button:hover {
  cursor: pointer;
  opacity: 0.5;
}

/* ------------------ */

.main-content #button2 {
  border-radius: 50px;
  color: white;
  font-size: 16px;
  font-family: "Roboto Slab";
  font-weight: 900;
  font-style: bold;

  background: linear-gradient(46deg, #16dba8, #1ba1df, #1b53df);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 13s ease infinite;
  -moz-animation: AnimationName 13s ease infinite;
  animation: AnimationName 13s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

/*Animation maker for button hover */
@keyframes buttonScaler {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

.main-content #button2 {
  transform: scale(1.1);
  animation: buttonScaler 4s infinite;
  transition: opacity 0.25s ease-in-out;
}

.main-content #button2:hover {
  cursor: pointer;
  opacity: 0.5;
}
